{% extends 'main.html'%}
{% block title %}Детали задачи{% endblock %}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <h1>Детали задачи</h1>

        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>

    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for user in users %}
                            <li class="list-group-item"> {{user.id}}
                                <a href="/user/{{user.id}}">{{ user.username}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}